body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    background-color: rgb(153, 211, 221);
}

ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    overflow: hidden;
    background-color: #176280;
}

li {
    margin: 10px;
}

a {
    color: rgb(218, 174, 174);
    text-decoration: none;
}

h1 {
    color: rgb(41, 85, 136);
    text-align: center;
    font-size: 24px;
}

p {
    color: rgb(0, 0, 0);
    text-align: center;
}

header {
    background-color: rgb(118, 157, 175);
    padding: 20px;
    text-align: center;
}

img {
    width: 20%;
    height: auto;
}

a:hover {
    color: rgb(0, 4, 255);
    text-decoration: dotted;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid black;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}