body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
    margin: 0;
    background-color: rgb(115, 133, 216);
}
form{
    max-width: 300px;
    margin: auto;
    background-color: rgb(235, 216, 250);
    padding: 20px;
    border-radius: 8px;
    flex-direction: column;
    display: flex;
    font-weight: bold;
}
label{
    margin-bottom: 5px;
    display: block;
}
input[type="text"], input[type="password"], input[type="number"], input[type="email"], input[type="date"]{
    color: black;
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid #000000;
    border-radius: 8px; /*aredonda as bordas*/
    background-color: #f7ccf8;
}
button {
    margin-top: 0;
    width: 50%;
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


#limpar{
    background-color: #af4c4c;
    color: white;
}
#gravar{
    background-color: #4faf4c;
    color: white;
}
h2{
    color: rgb(0, 0, 0);
    text-align: center;
    
}
#botao{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;  
   
}

#Sexo{
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
}

#opcao{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}

#suspenso{
    margin-top: 5px;
    margin-bottom: 15px ;
    
}